
@font-face {
  font-family: 'AkzidenzGroteskBE-LightEx';
  src: url('AkzidenzGroteskBE-LightEx.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBE-LightEx.otf')  format('opentype'),
	     url('AkzidenzGroteskBE-LightEx.woff') format('woff'), url('AkzidenzGroteskBE-LightEx.ttf')  format('truetype'), url('AkzidenzGroteskBE-LightEx.svg#AkzidenzGroteskBE-LightEx') format('svg');
  font-weight: normal;
  font-style: normal;
}
